.game_table{
    margin: 0 auto;
    color: rgb(94, 76, 136);
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 70%;
    border: none;
    border-collapse: collapse;
}

a {
  font-weight: bolder;
  text-decoration: none;
  transition: 0.2s;
  font-size: larger;
}

a:hover {
  color: pink;
  transition: 0.2s;
}

.game_table tr{
  border-bottom: 2px solid rgb(56, 24, 83);
}

.game_table tr.last_row {
  border: none;
}

.game_table tr:nth-child(even){
  background-color: rgb(116, 99, 163);
  color: white;
}

.game_table th, td{
  padding-left: 20px;
  padding: 20px;
}

.game_table th {
  background-color: rgb(56, 24, 83);
  color: white;
}

.topLeftHeader {
  border-top-left-radius: 10px;
}

.topRightHeader {
  border-top-right-radius: 10px;
}

button:hover {
  cursor: pointer;
}

#sideNav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: rgb(56, 24, 83); 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
  }

  #sideNav button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #be92c2;
    display: block;
    transition: 0.3s;
    border: none;
    background: none;
    cursor: pointer;
  }

  #sideNav button:hover {
    color: #f1f1f1;
  }

  #sideForm {
    text-align: left;
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: rgb(56, 24, 83); 
    overflow-x: hidden;
    transition: 0.5s;
  }

  #formToggle {
    position: relative;
    float: right;
    text-align: right;
    font-size: 35px;
    margin: 10px;
  }

  #formToggle:hover {
    cursor: pointer;
  }

  #newGameButton, #editButton, #deleteButton, #submitButton, #backButton {
      position: relative;
      margin: 10px;
      border: 2px solid white;
      height: 33px;
      width: 100px;
      border-radius: 10px;
      color: white;
      background-color: transparent;
      font-size: 15px;
      font-weight: bold;
      transition: 0.5s;
  }

  #submitButton, #deleteButton {
    font-size: 13px;
  }

  #newGameButton:hover, #editButton:hover, #submitButton:hover, #backButton:hover {
    background-color: white;
    color: rgb(94, 76, 136);
    transition: 0.5s;
  }


  #deleteButton:hover {
    background-color: red;
    transition: 0.5s;
  }
  
  
  .GameForm {
    margin: 10px;
  }

  .GameForm input {
    border: none;
    background-color: rgb(119, 94, 143);
    border-radius: 10px;
    color: white;
  }

  main {
    transition: margin .5s;
    padding: 20px;
  }

  div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  div.container h1 {
    font-size: 50px;
    color: white;
  }
  div.container button{
      position: relative;
      margin-left: 50px;
      margin-right: 50px;
      border: 4px solid white;
      height: 100px;
      width: 300px;
      border-radius: 10px;
      color: white;
      background-color: rgb(94, 76, 136);
      font-size: 30px;
      font-weight: bold;
      transition: 0.5s
  }

  div.container button:hover {
      background-color: white;
      color: rgb(94, 76, 136);
      transition: 0.5s;
  }

  html, body{
      text-align: center;
      color: white;
      margin: 0;
      height: 100%;
      position: relative;
      background-color: rgb(94, 76, 136);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  div#notice {
    padding-top: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 30px;
    transition: 0.5s;
    pointer-events: none;
  }

  div.hidden {
    opacity: 0;
    transition: 0.5s;
  }

  #navToggle {
    z-index: 1;
    font-size: 30px;
    float: left;
  }

  #navToggle:hover {
    cursor: pointer;
  }

  .showHeader {
    text-align: left;
    width: 30%;
    font-size: 30px;
    padding: 10px;
  }

  .showDisplay {
    text-align: left;
    font-size: 25px;
  }

  #filter {
      position: relative;
      margin: 10px;
      border: 2px solid white;
      height: 33px;
      width: 100px;
      border-radius: 10px;
      color: white;
      background-color: transparent;
      font-size: 15px;
      font-weight: bold;
      transition: 0.5s
  }

  #filter:hover {
    color: rgb(94, 76, 136);
    background-color: white;
  }

  #myInput {
    border-radius: 5px;
    background-color: rgb(119, 94, 143);
    border: none;
    padding: 5px;
    color: white;
  }

  #myInput::placeholder {
    color: white;
  }

  .options {
    color: rgb(94, 76, 136);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }